@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/fundotela.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.voucher h1{
    font-family: 'Italianno', cursive;
    font-size: 500%;
    font-weight: 100;
    color: white;
    text-shadow: 0.1em 0.1em 0.05em #333;
    text-align: center;
}

.voucher h2{
    font-family: 'Italianno', cursive;
    font-size: 500%;
    font-weight: 100;
    color:white;
    text-shadow: 0.1em 0.1em 0.05em #333;
    text-align: center;
    margin-top: 100px;
}

.voucher img{
    /* width: 20%;
    height: 200px;
    text-align: center; */
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    display: block;
    margin-bottom: -100px;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%; 
    text-align: center;
    font-family: 'Lora', serif;
    /*text-align: center;
    color: white;
    background-color: black; */
}